@import url('https://fonts.googleapis.com/css?family=Baloo+2:400,800&display=swap');

.bg-img {
  position: absolute;
  z-index: -10;
  width: 100%;
}

body {
  /* background-color: #88ABFF; */
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

.div {
  padding: 0;
  margin: 0;
}


#stream-wrapper {
    width: 100%;
    margin: 0;
    padding: 20px 0 0 0;
}

#video-wrapper {
  width: 280px;
  height: 210px;
  margin-left: 74%;
  padding: 0;
}

#local-stream {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  /* background: rgb(224, 224, 224,0.5); */
  box-shadow: 0 0 15px rgba(0,0,0,0.3) inset;
}

#toggle-btns-wrapper {
  margin-left: 74.5%;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0.5em;
  padding: 0;
}

#toggle-btns-wrapper button {
  color: #fff;
  background-color: rgb(99, 99, 99,0.3);
  /* padding: 10px 20px;
  font-size: 16px; */
  cursor: pointer;
}

#toggle-btns-wrapper button:hover {
  background-color: rgb(99, 99, 99,0.5);
  cursor: pointer;
}

#mic-btn {
  border-radius: 10px;
  width: 150px;
  padding: 10px;
  background-color: rgb(99, 99, 99,0.3);
}

#mic-btn:active {
  background-color: rgb(99, 99, 99,0.9);
}


#device-btn {
  border-radius: 10px;
  padding: 10px;
}

#device-btn:active {
  background-color: rgb(99, 99, 99, 0.9);
}

.video-container {
  max-height: 100%;
  border: 2px solid black;
  background-color: #203a49;
}

.video-player {
  height: 100%;
  width: 100%;
}

/* button {
  border: none;
  background-color: cadetblue;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  margin: 2px;
  cursor: pointer;
} */

#stream-controls {
  display: none;
  justify-content: center;
  margin-top: 0.5em;
}

@media screen and (max-width: 1400px) {
  #video-streams {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 95%;
  }
}

/* CLOCK */
/* @property --seconds {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
@property --minutes {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
@property --hours {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
} */

.clock-wrapper {
  /* display: flex;
  justify-content: left;
  align-items: center; */
  position: absolute;
  top: 120px;
  left: 70px;
  margin: 0;
  padding: 0;
  height: fit-content;
  width: fit-content;
}

.clock {
  background: rgb(53, 53, 53, 0.5);
  font-size: 50px;
  grid-auto-flow: column;
  inline-size: min-content;
  border-radius: 10px;
  display: grid;
  padding: 0 10px;
  color: #fff;
  font-style: digital;
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
}

#stopwatch button:first-of-type {
  margin-top: 15px;
}

#stopwatch button:last-child{
    background-color: #ae7617;
}

.clock-wrapper button {
  border-radius: 10px;
  margin: 5px 9px;
  padding: 6px 10px;
  display: inline-block;
  background-color: rgb(99, 99, 99,0.3);
  font-size: 25px;
} 

.clock-wrapper button:hover {
  background-color: rgb(99, 99, 99,0.5);
  cursor: pointer;
}

.clock-wrapper button:active {
  background-color: rgb(99, 99, 99,0.9);
}

/* NEKO GIF */
.neko {
  width: 100%;
  height: 100%;
  margin: 0;
}
.neko-gif {
  position: absolute;
  top: 20px;
  left: 385px;
  pointer-events: none;
  transform: scale(0.7);
  transform-origin: center;
  z-index: 1;
  cursor: pointer;
}

.speech-bubble {
  position: absolute;
  bottom:440px;
  left: 450px;
  max-width: 320px;
  max-height: 200px;
  width: fit-content;
  height: fit-content;
  padding: 10px 10px;
  border-radius: 0px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */
  word-wrap: break-word;
  /* display: none; */
  /* transform: scale(1, 1);
  transform-origin: bottom right;
  transition: transform 0.5s ease; */
  z-index: 2;
}

.speech-bubble p {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 15px;
  color: #774f38;
  background-color: #ece5ce;
  padding: 10px;
  border-radius: 11px;
  position: relative;
  box-shadow: 5px 5px #83af9b;
  font-family: "Baloo 2", cursive;
}


/* NOTE */
.note-wrapper{
  margin-top: 26px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 5px;
  padding: 15px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, 267px);
  overflow-x: hidden;
  height: 240px;
  overflow-y: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.3) inset;
  border-radius: 10px;
}
.note-wrapper::-webkit-scrollbar{
  display: none;
}
.note-wrapper li{
  height: 200px;
  list-style: none;
  border-radius: 5px;
  padding: 15px 20px 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}
.add-box, .icon, .bottom-content, 
.popup, header, .settings .menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-box{
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
}
.add-box .icon{
  height: 78px;
  width: 78px;
  color: #88ABFF;
  font-size: 40px;
  border-radius: 50%;
  justify-content: center;
  border: 2px dashed #88ABFF;
}
.add-box p{
  color: #88ABFF;
  font-weight: 500;
  margin-top: 20px;
}
.note{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.note .details{
  max-height: 165px;
  overflow-y: auto;
}
.note .details::-webkit-scrollbar,
.popup textarea::-webkit-scrollbar{
  width: 0;
}
.note .details:hover::-webkit-scrollbar,
.popup textarea:hover::-webkit-scrollbar{
  width: 5px;
}
.note .details:hover::-webkit-scrollbar-track,
.popup textarea:hover::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.note .details:hover::-webkit-scrollbar-thumb,
.popup textarea:hover::-webkit-scrollbar-thumb{
  background: #e6e6e6;
  border-radius: 25px;
}
.note p{
  font-size: 22px;
  font-weight: 500;
}
.note span{
  display: block;
  color: #575757;
  font-size: 16px;
  margin-top: 5px;
}
.note .bottom-content{
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
.bottom-content span{
  color: #6D6D6D;
  font-size: 14px;
}
.bottom-content .settings{
  position: relative;
}
.bottom-content .settings i{
  color: #6D6D6D;
  cursor: pointer;
  font-size: 15px;
}
.settings .menu{
  z-index: 1;
  bottom: 0;
  right: -5px;
  padding: 5px 0;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: bottom right;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
}
.settings.show .menu{
  transform: scale(1);
}
.settings .menu li{
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
  justify-content: flex-start;
}
.menu li:last-child{
  margin-bottom: 0;
}
.menu li:hover{
  background: #f5f5f5;
}
.menu li i{
  padding-right: 8px;
}
.popup-box{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.4);
}
.popup-box .popup{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.95);
}
.popup-box, .popup{
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}
.popup-box.show, .popup-box.show .popup{
  opacity: 1;
  pointer-events: auto;
}
.popup-box.show .popup{
  transform: translate(-50%, -50%) scale(1);
}
.popup .content{
  border-radius: 5px;
  background: #fff;
  width: calc(100% - 15px);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.content header{
  padding: 15px 25px;
  border-bottom: 1px solid #ccc;
}
.content header p{
  font-size: 20px;
  font-weight: 500;
}
.content header i{
  color: #8b8989;
  cursor: pointer;
  font-size: 23px;
}
.content form{
  margin: 15px 25px 35px;
}
.content form .row{
  margin-bottom: 20px;
}
form .row label{
  font-size: 18px;
  display: block;
  margin-bottom: 6px;
}
form :where(input, textarea){
  height: 50px;
  width: 90%;
  outline: none;
  font-size: 17px;
  padding: 0 15px;
  border-radius: 4px;
  border: 1px solid #999;
}
form :where(input, textarea):focus{
  box-shadow: 0 2px 4px rgba(0,0,0,0.11);
}
form .row textarea{
  height: 150px;
  resize: none;
  padding: 8px 15px;
}
form button{
  width: 100%;
  height: 50px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 17px;
  border-radius: 4px;
  background: #6A93F8;
}
@media (max-width: 660px){
  .note-wrapper{
    margin: 15px;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 100%);
  }
  .popup-box .popup{
    max-width: calc(100% - 15px);
  }
  .bottom-content .settings i{
    font-size: 17px;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}
